@import '../styles/variable.scss';

$bgcolor: white;

$m-left: 46px;
$m-top: calc($m-left * 1.35);

$header-height: 256px;
$header-bgcolor: #a2d6bd;

$bar-width: 286px;
$bar-bgcolor: #7c7461;
$bar-p: 20px;

$name-size: 2.5rem;
$header-size: 1.5rem;

$padding: 10px;
$img-size: calc($header-height - $padding);

.pdf {
  height: $a4-height;
  min-width: $a4-width;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: $box-shadow;
  background-color: $bgcolor;
  letter-spacing: 1px;

  &-bar {
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    margin-left: $m-left;
    padding: 0 $bar-p;
    padding-top: $m-top;
    width: $bar-width;
    background-color: $bar-bgcolor;
    color: white;

    & > img {
      height: $img-size;
      aspect-ratio: 1/1;
      margin: calc($padding / 2) auto;
      display: table;
      border: 1px solid white;
      border-radius: 50%;
    }

    & > .desc {
      padding: $padding;
      padding-top: calc($padding * 4);
      border-bottom: 2px solid white;

      & > p {
        margin-left: $padding;
        overflow-wrap: break-word;
      }
    }

    & > .contact {
      padding: $padding;

      & > p {
        margin-left: $padding;
      }
    }
  }

  &-header {
    height: $header-height;
    margin-top: calc($m-left * 1.35);
    width: 100%;
    background-color: $header-bgcolor;

    &-text {
      margin-top: calc($header-height / 3);
      margin-left: calc($m-left + $bar-width + 40px);
      font-size: $name-size;
      font-weight: bold;

      & > p {
        margin: 0;
      }
    }
  }

  &-text {
    flex: 1;
    margin-left: calc($m-left + $bar-width);
  }
}
