$margin-size: 46px;
$header-height: 256px;
$bar-width: 286px;
$bgcolor: white;
$header-bgcolor: #a2d6bd;
$bar-bgcolor: #7c7461;
$name-size: 3rem;
$header-size: 1.5rem;

.pdf {
  min-width: 793.7px;
  height: 1122.51px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &-background {
    height: calc($margin-size * 1.35);
    display: flex;

    & > .bg {
      &-bg1 {
        width: $margin-size;
        background-color: $bgcolor;
      }
      &-bar {
        width: $bar-width;
        background-color: $bar-bgcolor;
      }
      &-bg2 {
        flex: 1;
        background-color: $bgcolor;
      }
    }
  }
  &-header {
    height: $header-height;
    display: flex;

    & > .hder {
      &-bg1 {
        width: $margin-size;
        background-color: $header-bgcolor;
      }
      &-bar {
        width: $bar-width;
        background-color: $bar-bgcolor;
      }
      &-bg2 {
        flex: 1;
        background-color: $header-bgcolor;
        padding-top: calc($header-height / 2 - 55px / 2);
        padding-left: calc($header-height / 8);

        & > p {
          height: calc($name-size);
          margin: 0;
          font-size: $name-size;
          font-weight: bold;
        }
      }
    }
  }
  &-main {
    flex: 1;
    display: flex;

    & > .main {
      &-bg1 {
        width: $margin-size;
        background-color: $bgcolor;
      }
      &-bar {
        width: $bar-width;
        background-color: $bar-bgcolor;
      }
      &-bg2 {
        flex: 1;
        background-color: $bgcolor;
        padding: calc($header-height / 8);

        & .exp,
        .edu {
          height: calc($name-size);
          text-align: center;
          & > .head {
            margin: 0;
            font-size: $header-size;
            font-weight: bold;
          }
        }
      }
    }
  }
}
